.idea
application-state.json
/logs/
/node_modules/
/.npmrc
/package-lock.json
/.env
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/php.xml
/.idea/stantup-api.iml
/.idea/vcs.xml
.DS_Store
.vscode/